extends layout

block content

	for elem in memes
		div(id="#{elem.id}")
			a(href="/memes/#{elem.id}")
				img(src="#{elem.url}")
			<br>
			form(class="#{elem.id}")
				input(type="text" name="message" required placeholder="Comment here...")
				input(type="submit")
			<br>
