doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/script.js')
  
  header
    <a href="/memes">These are a Few of My Favorite Memes</a>
    
      
  block content
