extends layout

block content

	img(style="width: 500px" src="#{meme.url}")
	<br>
	form(class="#{meme.id}")
		input(type="text" name="message" placeholder="Comment here...")
		input(type="submit")
	<br>
